extends layout

block content
  #layout
    h1#head= title
    #controls
      include controls.pug
    canvas#arena
    #lobby
      p Welcome to #{title}
      p Select or create a new game, please...
      table#gamelisttable
        thead
          tr
            th(style="width: 9%") Id
            th(style="width: 54%") Name
            th(style="width: 18%") #Players
            th(style="width: 15%") Status
            th(style="width: 10%")
        tbody#body-gamelisttable
    #playersconfig(style="display:none;")
      p Game "#[span#gameName gameName]" (#[span#gameId gameId]) ready, create players!
      table#playerstable
        thead
          tr
            th(style="width: 50%") Name
            th(style="width: 40%") Keys
            th(style="width: 10%")
        tbody#body-playerstable
    #playernames(style="display:none;")
      #playerpos0
      #playerpos1
      #playerpos2
      #playerpos3
      #playerpos4
      #playerpos5
    #scores(style="display:none;")
      p #[span#gamecount] game's results...
      p#messages
      table#scoretable(style="width: 100%;")
        thead
          tr
            th(style="width: 30%") Name
            th(style="width: 14%; text-align: right;") Round
            th(style="width: 14%; text-align: right;") Kills
            th(style="width: 14%; text-align: right;") Killed
            th(style="width: 14%; text-align: right;") Escaped
            th(style="width: 14%; text-align: right;") Total
        tbody#body-scoretable
    #scores-waiting
      #scores-waiting-overlay
      #scores-waiting-message
        h1(class='fg-water') waiting for current round to finish
    #footer-lobby
      form(onsubmit='return false;' id='form-create-game')
        div(class='flex-row')
          input(type='text' value='' placeholder='gamename' id='input-create-game')
          input(type='submit' value=' create game ' id='btn-create-game' disabled=true)
    #footer-playersconfig(style="display:none;")
      form(onsubmit='return false;' id='form-add-player')
        div(class='flex-row wrap')
          input(type='text' value='' placeholder='playername' id='input-add-player')
          select(id='select-keycodes' required=true)
            option(value='' disabled=true selected=true hidden=true) select left/right turn
            option(value='66_78') b/n
            option(value='89_88') y/x
            option(value='75_76') k/l
            option(value='81_87') q/w
            option(value='40_39') &lt;down>/&lt;right>
            option(value='98_99') &lt;kpad 2>/&lt;kpad 3>
          select(id='msg-no-keycodes' disabled=true)
            option(value='btn1_btn2') btn1/btn2
          input(type='submit' value=' add player ' id='btn-add-player' disabled=true)
          input(type='button' value=' start ' id='btn-init-game' disabled=true)
    #footer-game(style="display:none;")
      form(onsubmit='return false;')
        div(class='flex-row space-between' )
          input(type='button' value=' start ' id='btn-start-game' disabled=true)
          #btns(class="flex-row")
            button#btn-left <-
            button#btn-right ->
    #gamestats
      #ping
    #palette
      div(class="flex-row small-gap")
  #log
