extends layout

block content
  h1= title
  div#screen
    canvas#arena
    #lobby
      p Welcome to #{title}
      p Select or create a new game, please...
      table#gamelisttable
        thead
          tr
            th Id
            th Name
            th Number Players
            th
        tbody#body-gamelisttable
    #playersconfig
      p Game ID #[span#gameId gameId] ready, create players!
      table#playerstable
        thead
          tr
            th Name
            th Keys
            th Local
        tbody#body-playerstable
    #playernames
      p Playernames, needs to change...
    #scores
  #footer-game
    input(type='button' value=' start ' id='btn-start-game' disabled=true)
  #footer-lobby
    input(type='text' value='' placeholder='gamename' id='input-create-game')
    input(type='button' value=' create game ' id='btn-create-game' disabled=true)
  #footer-playersconfig
    input(type='text' value='' placeholder='playername' id='input-add-player')
    input(type='button' value=' add player ' id='btn-add-player' disabled=true)
  #gamestats
    h1#ping
  #log
